<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triangle-transform</title>
    <style>
        .inner {
            width: 100px;
            height: 100px;
            background: red;
            transform: rotate(45deg);
            position: absolute;
            left: 20px;
            top: -50px;
        }
    </style>
</head>
<body>
    <div class="box">
        <div class="inner"></div>
    </div>
    
</body>
</html>