<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flex-two</title>
    <style>
        .container {
            display: flex;
            border: solid 1px;
            flex-direction: column;
            justify-content: space-between;
            height: 500px;
            align-items: center;
        }

        .item {
            width: 100px;
            height: 100px;
            border: solid 1px red;
        }
    </style>
</head>
<body>
    <div class="container">

            <span class="item"></span>


            <span class="item"></span>
    </div>
</body>
</html>